@import "tailwindcss";

@theme {
  --font-prompt: "Prompt", "sans-serif";
  --font-kanit: "Kanit", "sans-serif";
  --font-inter: "Inter", "sans-serif";
  --font-sans: var(--font-prompt);
  --color-vet-orange: #FF6B35; /* สีส้มที่หน้า Customer ใช้ */
}
